<!-- app/views/users/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Page d'accueil</title>
</head>
<body>
  <h1>Bienvenue sur la page d'accueil</h1>

  <h2>Utilisateurs</h2>
  <ul>
    <li><%= link_to 'Liste des utilisateurs', users_path %></li>
  </ul>

  <h2>Session</h2>
  <ul>
  </ul>
</body>
</html>
