<!DOCTYPE html>
<html>
<head>
    <title>Notre Équipe</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f7f7f7;
        }

        h1 {
            color: #333;
        }

        .team-member {
            max-width: 200px;
            margin: 20px;
            display: inline-block;
            text-align: center;
        }

        .team-member img {
            width: 100%;
            border-radius: 50%;
        }

        .team-member h2 {
            margin: 10px 0;
        }

        .team-member p {
            color: #555;
        }
    </style>
</head>
<body>
    <h1>Notre Équipe</h1>

    <div class="team-member">
        <img src="lien_image_membre_1.jpg" alt="Membre 1">
        <h2>Nom du Membre 1</h2>
        <p>le grand manitou</p>
    </div>

    <div class="team-member">
        <img src="lien_image_membre_2.jpg" alt="Membre 2">
        <h2>Nom du Membre 2</h2>
        <p>la grande pretresse</p>
    </div>

    <div class="team-member">
        <img src="lien_image_membre_3.jpg" alt="Membre 3">
        <h2>Nom du Membre 3</h2>
        <p>le soulard</p>
    </div>

    <!-- Répétez la structure ci-dessus pour chaque membre de votre équipe en remplaçant les images et les informations -->
</body>
</html>
